<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>

    <form action="contato.php" method="post">
        Nome: <input type="text" name="nome" id="nome">
        <br>
        Email: <input type="email" name="email" id="email">
        <br>
        Senha: <input type="password" name="senha" id="senha">
        <br>

        Sexo: <br>
        <input type="radio" name="sexo" id="sexo" value="F"> Feminino
        <input type="radio" name="sexo" id="sexo" value="M"> Masculino
        <br>
        
        Comentários (textarea): <textarea name="mensagem" id="mensagem"></textarea>
        <br>
        
        <input type="submit" value="Enviar"> 
    </form>
</body>
</html>